<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="DashBoard"
            sequence="0"/>
          
        <menuitem name="Quản lý Dashboard" 
            id="menu_dashboard_md" 
            parent="menu_root" 
            sequence="1"
            action="action_dashboard_md"
        />
    </data>
</odoo>
